*.log
.htaccess
composer.lock
sitemap.xml
sitemap.xml.gz
wp/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/plugins/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/vendor/
wp-content/themes/theme/node_modules/
wp-content/themes/theme/dev/bower_components/
wp-content/themes/theme/dev/dist/
