header.container {
  background: $md-light-green-600;
  color: $md-grey-100;
}

.top-bar {
  .title-area {
    @media #{$small-only} {
      width: 100%;
  }
}
.toggle-topbar {
    left: 0;
}
}

.social-buttons {
  a {
    padding: 5px 10px !important;
}
}

span.label {
  font-size: 0.8em;
  padding-bottom: 6px;
}

.site-footer {
  font-size: 0.9em;
  text-align: left;
}


.top-bar input[type="text"], .top-bar .button {
    font-size: 0.77778rem;
    position: relative;
    top: 7px;
}

.top-bar input[type="text"] {
    height: auto;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    font-size: 0.75rem;
}

.sidebar .card {
    padding: 15px;
}
