$font-family: "Droid Arabic Kufi", tahoma, sans;
$body-bg: $md-grey-300;
$body-color: $md-grey-900;
$link-color: $md-light-green-900;
$topbar-bg: $md-light-green-800;
$topbar-bg-hover: $md-light-green-900;
$topbar-title-weight: bold;
$topbar-title-font-size: 14px;
$topbar-menu-link-color-toggled: $md-grey-300;
$topbar-menu-icon-color-toggled: $md-grey-300;

$thumbnail-border-color: $md-grey-200;
